<div style=" border: 1px solid red;">
    <div style="margin: 0 auto; width:50%;">
        <form method="POST" action="/main/?=">
            좋아하는 영화 <input type="text" name="<name>">
            <input type="submit" value="입력">
        </form
    </div>
</div>
<div style=" border: 1px solid red;">
    <div style="margin: 0 auto; width:50%;">
        <form method="get" action="https://www.youtube.com/results">
            유튜브 검색 <input name="search_query">
            <input type="submit" value="검색">
        </form
    </div>
</div>